build
.gradle
.idea
local.properties

*.dex
*.class
*.apk
*.ap_

# Not yet sure about keeping the .idea folder
# http://stackoverflow.com/questions/26336709/android-studio-should-the-entire-idea-directory-be-in-git-ignore
